.NewItemRow {
  width: 100%;
}

/* Override material default */
.NewItemRow-textField {
  width: 100% !important;
}

.NewItemRow-actions {
  display: flex;
}

.NewItemRow-button {
  margin-right: 12px;
}