.Comments-comment {
  margin-bottom: 16px;
}

.Comments-comment-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
}

.Comments-comment-user {
  flex: 1 0 auto;
}

.Comments-comment-timestamp {
  text-align: center
}

.Comments-comment-text {
  padding: 16px;
}

.Comments-footer {
  padding-top: 16px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.Comments-footer-input {
  flex: 1 0 auto;
  padding-right: 8px;
}

/* Override material default */
.Comments-footer-TextField {
  width: 100% !important;
}