.Comments {
  padding-top: 16px;
}

.Comments-comment {
  padding: 16px;
}

.Comments-comment-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Comments-comment-text {
  padding-top: 16px;
}