.App-Grid {
  max-width: 1280px;
}

.App-Header {
  padding-top: 2rem;
}

.App-Logo {
  height: 48px;
}

.App-Container {
  padding-top: 2rem;
}

.App-Header-Actions {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
}

.Item-Row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.Item-Checkbox {
  width: 48px;
}

.Item-Input {
  display: flex;
  flex: 1 0 auto;
}

.Add-Item-Actions {
  display: flex;
  width: 100%;
  padding-left: 40px;
}

.Add-Item-Actions-Button {
  margin-right: 12px;
}